<!doctype html>
<html lang="en"  xmlns:th=”http://www.thymeleaf.org”
 th:replace="normal/base::layout(~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title>This is home page</title>
</head>
<body>
	<section>
	<div class="container">
	
	<div class="card-body">
	
	<div class="container text-center">
<img style="height: 200px; width: 200px" class="my_profile_picture"
						alt="" th:src="@{'/image/contact.png'}" src="" />
</div>
	<h1 class="text-center mt-2 text-secondary font-weight-light">
	Start Save and Add your contact on server !!
	</h1>
	
	<a th:href="@{/user/add-contact}"  class="btn btn-primary mt-4 btn-block text-uppercase">Add New contact</a>
	</div>
	</div>
	
	
	</section>
</body>
</html>