<!doctype html>
<html lang="en"  xmlns:th=”http://www.thymeleaf.org” th:replace="base::layout(~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title>This is home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center">
	<p>
	Start Collecting your contact in very smarter way. we provide 
     very efficient and smart way of handling contacts.
	</p>
	<button class="btn bg-primary btn-lg text-white">Get Start</button>
	</div>
	</section>
</body>
</html>